.container {
  display: flex;
  justify-content: space-around;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

app-tabla-peliculas {
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

app-detalle-pelicula {
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
