<button (click)="navegarA('busqueda')" mat-raised-button color="primary">Busqueda</button>

<button (click)="navegarA('peliculas/listado')" mat-raised-button color="primary">Peliculas Listado</button>

<button (click)="navegarA('peliculas/alta')" mat-raised-button color="primary">Alta Pelicula</button>

<button (click)="navegarA('actores/listado')" mat-raised-button color="primary">Actores Listado</button>

<button (click)="navegarA('actores/alta')" mat-raised-button color="primary">Alta Actor</button>
