<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{pais.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{pais.flag}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p> Nombre: {{pais.name}} </p>
    <p> Capital: {{pais.capital}} </p>
    <p> Region: {{pais.region}} </p>
    <p> Cantidad de poblacion: {{pais.population}} </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onDisabledCountry()" mat-raised-button color="primary">DESHABILITAR</button>
  </mat-card-actions>
</mat-card>
