<app-menu></app-menu>
<div class="main-container">
  <mat-card class="card">
    <form [formGroup]="signUpForm" class="form-signin">
      <mat-form-field appearance="fill">
        <mat-label>Ingrese un id</mat-label>
        <input matInput placeholder="Id" [formControl]="signUpForm.controls.id" type="number" required>
        <mat-error *ngIf="signUpForm.controls.id.invalid">
          Por favor inserte un id!!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese un nombre</mat-label>
        <input matInput placeholder="Nombre" [formControl]="signUpForm.controls.nombre" required>
        <mat-error *ngIf="signUpForm.controls.nombre.invalid">
          Por favor inserte un nombre!!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese un tipo</mat-label>
        <mat-select [formControl]="signUpForm.controls.tipo">
          <mat-option value="0">TERROR</mat-option>
          <mat-option value="1">COMEDIA</mat-option>
          <mat-option value="2">AMOR</mat-option>
          <mat-option value="3">OTROS</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese una fecha de estreno</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="signUpForm.controls.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingrese una cantidad de publico</mat-label>
        <input matInput placeholder="Cantidad de publico" [formControl]="signUpForm.controls.publico" type="number"
          required>
        <mat-error *ngIf="signUpForm.controls.publico.invalid">
          Por favor inserte una cantidad de publico!!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione un actor de la lista de actores!!!</mat-label>
        <input matInput placeholder="Cantidad de publico" [formControl]="signUpForm.controls.actor" readonly required>
        <mat-error *ngIf="signUpForm.controls.actor.invalid">
          Por favor seleccione un actor!!
        </mat-error>
      </mat-form-field>
      <div class="footer">
        <button [ngClass]="{'button-dissabled': signUpForm.invalid}" mat-raised-button (click)="guardarPelicula()"
          [disabled]="signUpForm.invalid">CREAR</button>
        <button mat-raised-button (click)="cancelar()">CANCELAR</button>
      </div>
    </form>
  </mat-card>
  <app-tabla-actores [listadoActores]="listadoActores" (seleccionarActor)="onSeleccionarActor($event)">
  </app-tabla-actores>
</div>
